<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<!-- VO / DTO 객체의 풀네임을 대신 사용할 별칭 선언 -->
		<typeAlias type="com.kh.TAT.common.model.vo.Edit" alias="edit"/>
		<typeAlias type="com.kh.TAT.common.model.vo.EditReplyBoard" alias="editReplyBoard"/>
		<typeAlias type="com.kh.TAT.common.model.vo.FaqBoard" alias="faqBoard"/>
		<typeAlias type="com.kh.TAT.common.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.TAT.adminPage.model.vo.PagingVo" alias="pagingVo"/>
		<typeAlias type="com.kh.TAT.common.model.vo.Payment" alias="payment"/>
		<typeAlias type="com.kh.TAT.common.model.vo.QuestionAnswerBoard" alias="questionAnswerBoard"/>
		<typeAlias type="com.kh.TAT.common.model.vo.Template" alias="template"/>
		<typeAlias type="com.kh.TAT.common.model.vo.TemplateReplyBoard" alias="templateReplyBoard"/>

		<typeAlias type="com.kh.TAT.mainPage.model.vo.ReplyName" alias="replyName"/>

		<typeAlias type="com.kh.TAT.myPage.model.vo.MyProject" alias="myProject"/>
		<typeAlias type="com.kh.TAT.myPage.model.vo.MyPayment" alias="myPayment"/>
	</typeAliases>
</configuration>
