<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminPayment">
	<select id="selectPaymentList" resultType="adminPayment" parameterType="pagingVo">
		SELECT * FROM(SELECT * FROM(
		SELECT ROWNUM row_num, BOARDALL.* FROM (
		SELECT * FROM PAYMENT JOIN MEMBER USING(M_CODE) ORDER BY M_CODE) BOARDALL) BOARDALLALL 
		)WHERE row_num BETWEEN #{start} AND #{last}
	</select>
	
	<select id="totalPaging" resultType="_int">
		SELECT count(*) FROM PAYMENT
	</select>
	<select id="totalPagingCount" resultType="_int">
		SELECT COUNT(*) FROM (SELECT ROWNUM row_num FROM PAYMENT) WHERE row_num >=#{start}
	</select>
</mapper>
