<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edit">
	<select id="selectEditList" resultType="Edit" parameterType="pagingVo">
		SELECT * FROM(SELECT * FROM(
		SELECT ROWNUM row_num, BOARDALL.* FROM (
		SELECT * FROM EDIT ORDER BY SAVE_DATE DESC) BOARDALL) BOARDALLALL 
		)WHERE row_num BETWEEN #{start} AND #{last}
	</select>
	
	<select id="totalPaging" resultType="_int">
		SELECT count(*) FROM EDIT
	</select>
	<select id="totalPagingCount" resultType="_int">
		SELECT COUNT(*) FROM (SELECT ROWNUM row_num FROM EDIT) WHERE row_num >=#{start}
	</select>
</mapper>
